nav {
  display: flex;
  max-width: var(--nav-max-width);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

button {
  border-radius: var(--border-radius-button);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
.stacking-button {
  padding: var(--padding-button);
  background-color: var(--color-black);
}
.lunchpad-button {
  background-color: var(--color-primary);
  padding: var(--padding-button);
}

.connect-button {
  padding: var(--padding-button);
  background-color: var(--color-black);
}
